registry = "https://registry.npmmirror.com"
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true

# ⚠️ 禁止依赖提升
store-dir = "./.pnpm-store"

# 如果启用此选项，本地可用的软件包将链接到node_modules，而不是从注册表下载。这是非常方便的一个 monorepo。如果您需要本地包也链接到子依赖项，您可以使用deep设置。
link-workspace-packages=deep
